.container {
    .checkout {
        gap: 19px;
        color: gray;
    }
    .heading {
        margin-top: 60px;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 1.44px;
    }
    .billingdetails {
        margin-top: 60px;
        flex-direction: column;
        gap: 32px;
        span {
            display: flex;
            color: gray;
        }
        input {
            border: 0;
            height: 50px;
            border-radius: 4px;
            background-color: #F5F5F5
        }
    }
    .totalcart {
       
        gap: 32px;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        .finalist {
            width: 100%;
            gap: 32px;
            padding-right: 96px;
            .crabbily {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 5px;
                padding: 1px;
                .img {
                    gap: 20px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .totalcart {
        .bank {
            .cashoo {
                display: flex;
                gap: 20px;
                align-items: center;
                .backlash {
                    display: flex; 
                    gap: 20px;
                }

                input {
                    border: 0px;
                    // width: 4%;
                    // height: 1em;
                    color: black;
                }
            }
        }
        .couponapply {
            gap: 32px;

            .btn-placarder {
                background: #db4444;
                color: white;
                height: 56px;
                width: 211px;
                border: 0;
                border-radius: 4px;
            }
        }
    }
}
