.container{
    .login-form{
        .row{
            .col-6{
                .bag{
                    width: 100%;
                    height: 100%;
                }

            }
            .col-5{
                .form{
                    margin-top: 80px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 224px;
                .details
                    {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    .form__group {
                        position: relative;
                        padding: 15px 0 0;
                        margin-top: 10px;
                        width: 90%;
                      }
                      .form__field {
                        font-family: inherit;
                        width: 100%;
                        border: 0;
                        margin-top: 55px;
                        border-bottom: 2px solid gray;
                        background: transparent;
                        transition: border-color 0.2s;
                      
                      
                      
                      /* reset input */
                      .form__field{
                        &:required,&:invalid { box-shadow:none; }
                      }
                 }
                 
                 .login{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;

                    .button-create{
                        background-color: #db4444;
                        color: white;
                        padding: 5px;
                        height: 55px;
                        display: flex;
                        justify-content: center;

                    }
                    .password{
                        display: flex;
                        margin-left: 150px;
                        color: #DB4444;
                    }    
                    
                    
                 } 
                }
            }
        }
        // @media only screen and (min-width: 768px) {
            
        //     .col-6 {
        //         width: 50%;
        //     }
        
        //     .col-5 {
        //         width: 50%;
        //     }
        
        //     .form {
        //         margin-top: 80px;
        //         margin-left: 0; 
        //     }
        
        //     .login-form {
        //         max-width: 500px; 
        //     }
        // }
        
        // @media only screen and (min-width: 1024px) {
           
        //     .container {
        //         max-width: 1200px; 
        //     }
        // }
    
    
    }

}


