.container {
    .productcart {
        width: 100%;
        .accountHavit {
            display: flex;
            margin: 36px 39px;
            span {
                color: gray;
            }
        }
        .row {
            .set-of-images {
                flex-direction: column;
                display: flex;
                justify-content: center;
                width: 139px;
            }
            .main-havit {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                max-height: 100%;
                // margin-left: 75px;
            }
            .havit-gamepad {
                flex-direction: column;
                display: flex;
                align-items: baseline;
                .havit {
                    display: flex;
                    flex-direction: column;
                    align-items: self-start;
                    .sensitive {
                        display: flex;
                        align-items: self-start;
                        text-align: start;
                    }
                }
            }

            .inputbutton {
                display: flex;
                gap: 26px;
                font-size: x-large;
                
                .color-main {
                    // height: 30px;
                    // width: 30px;
                    border-radius: 50%;
                    border: 3px solid transparent;
                   
                    .select {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        

                    }
                }
                
                .selected-color{
                    border:  3px solid black;
                

                }

                // .sortOptions2 {
                //     width: 30px;
                //     height: 30px;
                //     accent-color: #e07575;
                //     color: #e07575;
                // }
            }
            .size-chart {
                display: flex;
                flex-direction: row;
                gap: 13px;
                font-size: 23px;
                align-items: center;
                .chart {
                    border: 1px solid black;
                    border-radius: 9px;
                    margin: 5px;
                    padding: 4px 8px;
                    justify-content: center;
                    display: flex;
                    height: 40px;
                    font-size: 14px;
                    align-items: center;
                    width: 40px;
                }
                .select-size {
                       
                       background-color: orangered ;
                        border: 3px solid transparent;
                        
                        
                    }
            }
            .buyNow {
                display: flex;
                gap: 30px;
                justify-content: space-between;
                .counter {
                    display: flex;
                    border: 2px solid;
                    width: 200px;
                    gap: 43px;

                    span {
                        width: 28%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: xx-large;
                    }
                    input {
                        width: 100%;
                        text-align: center;
                        border-top: 0;
                        border-bottom: 0;
                    }
                }
            }
            .Wishart {
                border: 1px solid gray;
                padding: 11px;
                display: flex;
                align-items: center;
                border-radius: 5px;
            }

            .btn-now {
                background-color: orangered;
                color: white;
                width: 165px;
                height: 50px;
                border-radius: 3px;
                border: 0px;
            }
            .delivery {
                border: 2px solid gray;
                .free-delivery {
                    display: flex;
                    flex-direction: row;
                    gap: 21px;

                    align-items: center;
                    padding: 11px;
                    .postal {
                        display: flex;
                        flex-direction: column;
                        text-align: justify;
                        gap: 9px;
                    }
                }
            }
        }
    }
}
input[type="radio"] {
    filter: hue-rotate(-100deg);
}

.selected {
    border: 1px solid orangered !important;
}
