@use "./variables";

.container {
    // flex-wrap: inherit;
    // align-items: center;
    margin-top: 25px;
    .name {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 100%;

        .Today {
            color: variables.$orange;
            margin-left: 12px;
            font-weight: bold;

            h3 {
                margin-bottom: 0;
            }
        }
    }
    .carousel-wrapper{
        display: flex;
        flex-direction: column;
        // height: 250px;
        width: 100%


    }
    .rec-item-wrapper{
        width: 449.339px;
    }
}
