.App {
  /* text-align: center; */
}

.Header {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 10px;
  background: black;
  color: #fff;

}

.link {
  padding-left: 10px;
  color: #fff;
  font-weight: 700;

}

.image {
  /* height: 12px;
  width: 12px;
  color: #fff; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;

  >span {
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
  }

  .value {
    font-size: 1.5rem;
    display: flex;
    /* flex-direction: column; */
  }
}

.show-counter {
  padding: 0.5rem;

  .countdown-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* font-weight: 700; */
    font-size: 1.25rem;
    line-height: 1.75rem;
    gap: 20px;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #000;
  }

  .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    gap: 15px;
    display: flex;
    flex-direction: column;

    &.danger {
      /* color: #ff0000; */
      gap: 15px;
      /* font-weight: 700; */

    }

    p {
      margin: 0;
      font-weight: 700;

    }

    >span {
      text-transform: uppercase;
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}